.Login {
	.HeaderImage {
		height: 600px;
		width: auto;
		background-image: url('../../assets/login-header.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
